<% provide(:title, "About") %>
<h1>About</h1>
<p>
      本アプリケーションは、<a href="http://railstutorial.jp/" target="_blank">Ruby on Rails Tutorial</a>を元に作成されたTwitter風SNSアプリケーションです。<br>
      実装済みの機能は以下の通りです。
</p>
<h2>機能</h2>
<h4>チュートリアルで実装した機能</h4>
<p>
      <ul class="list">
        <li>ユーザー登録・ログイン/ログアウト</li>
        <li>Remember me</li>
        <li>アカウント有効化</li>
        <li>投稿の一覧/作成/削除</li>
        <li>画像アップロード(Amazon S3に保存)</li>
        <li>フォロー/アンフォロー(非同期)</li>
        <li>フォローユーザーの投稿表示</li>
      </ul>
</p>
<h4>拡張した機能</h4>
      <ul class="list">
      <li>ユーザー検索</li>
      <li>投稿検索</li>
      <li>投稿のいいね(非同期)</li>
      <li>特定ユーザの投稿データをCSVで出力</li>
      </ul>
      
<h2>使い方</h2>
<p>
      新規ユーザー登録後、ログインすると動かすことができます。<br>
      サンプルとして、以下のアカウントも使用可能です。<br>
      Email : example@railstutorial.org<br>
      Password : password<br>
</p>